<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
    <h1>{{.Title}}</h1>
    <p>{{.DateTime}}</p>
    <img height=256px src="Frontend/the-desolation.jpg" alt="A really cool picture dot jpg">
    <p>{{.Article}}</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed
        justo ac arcu tincidunt consequat et et erat. Sed non lacinia
        turpis, in finibus sapien. Cras sed augue mauris. Duis blandit ac
        dolor id consequat. Donec iaculis, nibh vel vehicula eleifend,
        libero diam iaculis felis, quis sodales lacus lectus in eros.
        Vestibulum sem neque, volutpat et est in, sagittis efficitur
        mauris. Phasellus sit amet risus non nulla pulvinar porttitor vitae
        in augue. Morbi lobortis vulputate turpis, ullamcorper auctor purus
        mattis non. Morbi lacinia ultrices vehicula. Nunc ullamcorper nec
        magna ut aliquet. Curabitur sodales arcu in ex pretium, ut mollis
        mauris viverra.
    </p>
</body>
</html>
